.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;

  .deadline {
    background-color: #62b51a;
    display: block;
    border-radius: 10%;
    height: 35%;
    width: 40%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-align: center;
  }
}
